.footer-contact img {
    width: 50px;
    height: auto;
}

.Mango-Lassi img{
    width: 500px; 
    height: auto;
}

.Gulab-Jamun img{
    width: 500px; 
    height: auto;
}

.Chole-Bhature img{
    width: 500px; 
    height: auto;
}

.Samosa img{
    width: 500px; 
    height: auto;
}

.welcome-box img{
    width: 500px; 
    height: auto;
}

header {
    position: relative;
    height: 400px;
    overflow: hidden;
}

