header{
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    font-family:"Black Ops One", system-ui;
    color:rgb(70,146,70);
}